body {
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    font-size: 20px;
    line-height: 150%;
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 0;
    padding: 0;
}
h1 {    
    font-family: 'Bellota', 'Sawarabi Gothic', sans-serif;
    font-size: 2.1em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
}

.container-fluid {
    padding: 0;
    margin: 0;
}
.container-lg {
    padding: 0;
}

.col-sm-12 {
    padding: 0;
}

#wrapper {
    background-color: transparent;
    margin-bottom: 2rem;
}
.row {
    margin: 1rem 0 1rem 0;
    background-color: transparent;
    padding: 0;
    border: 1px solid lightgray;
    border-radius: .2rem;
}

/* Footer */
footer {
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
    background-color: #343a40;
    text-align: center;
    margin-top: 1.5em;
    font-size: 15px;
    padding: 15px;
    margin: 0;
    color: white;
}
#footer-name {
    font-size: 15px;
    padding: 15px;
    margin: 0;
    color: white;
}

/* all navbar stuff */
header {
    margin-bottom: 0;
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
}
nav img {
    width: 5em;
}
.navbar {
    /* this moves the nav links to the right for some reason */
    justify-content: space-between;
    padding-top: unset;
    padding-bottom: unset;
}
.mobile {
    /* This class is for the mobile version of the navbar. Set not to display
    on desktop or landscape-oriented phones */
    display: none;
}    
.navbar-brand {
    padding-top: 15px;
    padding-bottom: 15px;
}
.language-button {
    margin-left: 1em;
    font-size: 1em;
}
/* end navbar */

/* Specific to this page */
#currentDayDiv {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    width: auto;
    margin-right: -2rem;
    margin-left: -2rem;
    margin-bottom: -2rem;
}

.jumbotron {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    background: rgb(62,200,255);
    background: linear-gradient(90deg, rgba(62,200,255,0.46) 0%, rgba(49,255,169,0.5) 100%); 
    box-shadow: inset 0px 0px 35px 3px rgba(80, 80, 80, 0.507);
}
.display-3 {
    letter-spacing: .5rem;
}

.editorIcon {
    background: rgba(49, 255, 169, 0.5);
    margin: unset !important;
    padding: 1rem 0 1rem 0;
    border-radius: 0 .2rem .2rem 0;
}
.hourDisplay {
    background: rgba(62, 200, 255, 0.459);
    /* border-radius: 5px; */
    margin: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .2rem 0 0 .2rem;
}
.plansDisplay {
    overflow: hidden;
    margin: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: rgb(62,200,255);
    background: linear-gradient(90deg, rgba(62,200,255,0.46) 0%, rgba(49,255,169,0.5) 100%); 
}

i {
    line-height: unset !important;
    font-size: 2rem;
    border-radius: unset;
}
.fa-plus-circle {
    font-size: 5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.fa-plus-circle p {
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    font-size: 1rem;
    margin: unset;
    margin-left: 5px;
}
#addTimeBlockBtnAfternoon {
    margin-bottom: 10rem;
}
#editPlansBtn {
    margin-top: 1rem;
}

.earlier {
    background-color: pink;
}
.later {
    background-color: lightgreen;
}

.display-none {
    display: none;
}
.display-block {
    display: block;
}
/*  */
#plansEditorModal {
    position: fixed;
    z-index: 1000;
    background: rgba(0,0,0,0.8);
    height: 100%;
    top:0px;
    left:0px;
}
#modalBody {
    background: whitesmoke;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
    position: fixed;
    margin: auto;
    margin-top: 20rem;
    left: -50%;
    right: -50%;
}
#modalBody .row {
    margin: 0;
    justify-content: space-between;
    border: unset;
    height: unset;
}
#modalTitle {
    margin: auto 0 auto 0;
}
#editPlansBtn {
    background: rgba(0, 0, 0, 0.3);
    border: unset;
    border-radius: 50%;
    position: absolute;
    right: 0.25rem;
    top: -0.75rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    padding: 0;
}
#editPlansBtn i {
    font-size: 1.5rem;
    color: white;
}
#plansDescriptionStatic {
    margin: 0.5rem;
    min-height: 3rem;
    /* border: solid 1px darkgray; */
}